*{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    margin: auto;
    text-align: center;
}

body {
    background-color: rgb(40, 146, 155);
    background-size: cover;
    
}

.caixa {
    margin: auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    width: 600px;
    
}

h1 {
    color: white;
}

footer {
    margin: auto;
    text-align: center;
}