* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    background-color: rgba(0, 0, 0, 0.87);
    color: white;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.fundodaimagem {
    background-color: rgb(2, 2, 2);
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    max-width: 700px;
    border-radius: 25px;
    box-shadow: black 2px 2px 3px;
}

.meio {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.meio img {
    border-radius: 150%;
    padding-top: 20px;
}

footer {
    color: white;
    text-align: center;
    margin-top: 50px;
}