* {
    
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: radial-gradient(ellipse at top right, #EB3B97, transparent),
              radial-gradient(ellipse at top left, #EB5D3B, transparent),
              radial-gradient(ellipse at bottom left, #0D0934, transparent),
              radial-gradient(ellipse at bottom right, #DA01EA, transparent);
    background-repeat: repeat;
    background-size: cover;
    color: white;
    height: 97vh;
    margin: auto;
    
}

h1 {
    text-align: center;
    
    
}

.fundodaimagem {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    max-width: 640px;
    max-height: 450px;
    border-radius: 25px;
    box-shadow: black 2px 2px 3px;
    background: radial-gradient(ellipse at top right, #0D0934, transparent),
              radial-gradient(ellipse at top left, #a7066a, transparent),
              radial-gradient(ellipse at bottom left, #0D0934, transparent),
              radial-gradient(ellipse at bottom right, #e35aaf, transparent);
}

.meio {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.meio img {
    border-radius: 150%;
    padding-top: 20px;
}

.resultado {
    text-align: center;
    margin-bottom: 15px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 20px;  
    color: white;
    text-align: center;   
}

a {
    color: white;
}