* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    background-color: rgba(0, 0, 0, 0.409);
    color: white;
}

h1 {
    text-align: center;
}

.fundodaimagem {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    max-width: 700px;
    border-radius: 25px;
}

.meio {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.meio img {
    border-radius: 150%;
    padding-top: 20px;
}

footer {
    color: white;
    text-align: center;
}