*{
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.306);
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.caixa {
    margin: auto;
    background-color: white;
    width: 500px;
    height: 300px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 2px 2px 2px black;

}