body{
    background: rgba(0, 0, 0, 0.776);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    width: 700px;
    padding: 10px;
    margin: auto;
    text-align: center;
}

.botao {
    border-radius: 5px;
    
}

#img{
    display: none;
    margin: auto;
    padding-top: 15px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}